<html>
    <head>
        <meta charset="utf-8">
        <title>Text Extractor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body class="px-5 py-2 my-8 flex justify-center h-14 bg-amber-200">
        <center"><h2 class=" font-serif px-5 py-2 my-8 font-bold flex justify-center text-black-500 text-4xl">Text Extractor by Mohammed Faraz Ali & Khalid Masud Shadul Chaudhari </h2></center>
        <div class='container-fluid'>
            <div class="row">
                <div class='col-xs-12'>
                    <form class="form flex items-center space-x-6" action="/submitImage/" method="POST" enctype="multipart/form-data">
                        <div class='row shrink-0'>
                            <div class=''>
                                <label class="px-5 py-2 my-8 flex justify-center text-4xl" for='ocrImage'>Choose Image: </label>
                                <input class='form-control block w-full text-sm text-slate-500
                                file:mr-4 file:py-2 file:px-4
                                file:rounded-full file:border-0
                                file:text-sm file:font-semibold
                                file:bg-violet-50 file:text-violet-700
                                hover:file:bg-violet-100' type="file" name="ocrImage" id="ocrImage" src="" alt="" onchange='showImage(event)'>
                            </div>
                            <div class="flex justify-center my-8 px-5 py-2 text-4xl">
                                <img src='' id='uploadedImage' width='200' alt='no image selected'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <input class="btn btn-info px-5 py-2 my-8 flex justify-center  bg-indigo-500 cursor-pointer text-4xl" type="submit" value="Convert" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
function showImage(event){
    uploadedImage = document.getElementById('ocrImage').files[0];
    console.log(uploadedImage);
    document.getElementById('uploadedImage').src = URL.createObjectURL(event.target.files[0]);
}

    </script>
</html>
