<html>
    <head>
        <meta charset="utf-8">
        <title>Result of Text Extractor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body class="bg-stone-200">
        <center"><h2 class="font-serif px-5 py-2 my-8 font-bold flex justify-center text-black-500 text-4xl">Text Extractor by Mohammed Faraz Ali & Khalid Masud Shadul Chaudhari </h2></center>
        <div class='container-fluid '>
            <div class="row">
                <div class='col-xs-12 text-4xl px-5 py-2 my-8'>
                        
                    
                    <textarea class="border-4 border-neutral-950" id='textValue' readonly name="result" rows="20" cols='250' value=''>{{ text }}</textarea>
                </div>
            </div>
        </div>
                    <form class="px-5 py-2 my-8 flex justify-center cursor-pointer text-4xl" method="get" accept-charset="utf-8">
                        <button type="button" class='btn btn-info bg-indigo-500' onclick='downloadText()'>Download</button>
                    </form>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
function downloadText(){
    var text = document.getElementById('textValue').value;
    var val = "data:x-application/text," + escape(text);
    window.open(val);
}

    </script>
</html>
